body {font-family: 'Open Sans', sans-serif;
      font-family: 'Ysabeau', sans-serif; 
      font-size: 16px;
      line-height: 20px;

}
.holder{
   margin-left: 1.5em;
}

/* estilos header */
header { background-color: #2e64a1 ;
         padding: 1em 0;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    margin: 0;
    /* position: relative; */
    bottom: 30px;
}
/* estilos nav barra de navegacion */
nav {
    background-color: #6da9ed;
    margin-bottom: 2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
    width: 16.3%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    transition: all 0.2s ease;
    }

    nav ul li a:hover {
        background-color: rgba(0,0,0,0.3);
    }
nav ul li a.activo 
{background-color: #4c76a5;}

/* Estilos main */


h2{ 
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}
.left {
    float: left;

}
.right {
float: right;

}

.homeimg {
    margin-bottom:  1.5em;
}
.homeimg img {
    width: 100%;
}
.columnas {
    overflow: hidden;
}
.bienvenidos, .testimonios {
    box-sizing: border-box;
}

.bienvenidos {
    width:  75%;
    padding-right: 2em;
}
.testimonios h2 {
    font-size: 1.3em;
}

.bienvenidos p {
    text-align: justify;
}
.testimonios{
    width: 25%;
}
.testimonio {
    background-color: #ccc;
    padding: 1em;
}
.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}
.testimonio .autor {
    font-size: 0.7em;
    text-align: center;
    margin:  1em 0;
    display: block;
}




    /* estilos footer */
footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}
